.wrapper {
  padding: 0 100px;
  max-width: 1200px;
  margin: 90px auto auto auto;
}

.logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}

/* for making title in the middle of the line */
.title {
  display: flex;
  align-items: center;
}

.title:before,
.title:after {
  content: '';
  flex: 1 1;
  border-bottom: 1px solid #cccccc;
}

.title::before {
  margin-right: 10px;
}

.title::after {
  margin-left: 10px;
}

/* ipad portrait and phone*/
@media (max-width: 1040px) {
  .wrapper {
    display: none;
    margin-top: 0;
  }
}
