.wrapper {
  padding: 0 100px;
}

.logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}

/* for making title in the middle of the line */
.title {
  display: flex;
  align-items: center;
}

.title:before,
.title:after {
  content: '';
  flex: 1 1;
  border-bottom: 1px solid #cccccc;
}

.title::before {
  margin-right: 10px;
}

.title::after {
  margin-left: 10px;
}
