.wrapper {
  text-align: center;
  margin-top: 500px;
  white-space: pre-line;
}

.message_container {
  width: 620px;
  margin-right: 40px;
  text-align: left;
  padding-bottom: 20px;
}

.info_list {
  padding: 0;
  margin: 40px 0 0 0;
  max-width: 420px;
}

.list_child {
  margin-top: 30px;
  display: flex;
}

.icon_container {
  width: 20px;
  min-width: 20px;
  padding-top: 3px;
  margin-right: 24px;
}

.container {
  position: relative;
  padding-top: 200px;
}

.picture_container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  margin-top: 90px;
  width: 100%;
  height: calc(100% - 300px);
}

.sticky_container {
  position: sticky;
  top: calc(50vh - 224px);
  height: 383px;
  width: 590px;
}

.info_container {
  position: relative;
  margin-top: -320px;
}

/* ipad portrait and phone*/
@media (max-width: 1040px) {
  .wrapper {
    flex-direction: column;
    margin-top: 100px;
  }

  .info_list {
    margin: 0;
  }
}

/*phone*/
@media (max-width: 600px) {
  .wrapper {
    margin-top: 60px;
  }

  .message_container {
    width: auto;
    margin-right: 0;
    margin-top: 20px;
  }

  .info_list {
    width: 100%;
  }

  .image_box {
    width: auto;
  }
}
