.wrapper {
  text-align: center;
  padding: 0 100px;
  max-width: 1500px;
  margin: 120px auto auto auto;
  white-space: pre-line;
}

.message_image_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message_container {
  width: 620px;
  margin-right: 40px;
  text-align: left;
}

.image_box {
  width: 590px;
}

.info_list {
  padding: 0;
  margin: 40px 0 0 0;
  max-width: 420px;
}

.list_child {
  margin-top: 30px;
  display: flex;
}

.icon_container {
  width: 20px;
  min-width: 20px;
  padding-top: 3px;
  margin-right: 24px;
}

/* ipad portrait and phone*/
@media (max-width: 1040px) {
  .wrapper {
    padding: 0 40px;
    flex-direction: column;
    margin-top: 100px;
  }

  .info_list {
    margin: 0;
  }

  .message_image_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
}

/*phone*/
@media (max-width: 600px) {
  .wrapper {
    padding: 0 25px;
    margin-top: 60px;
  }

  .message_image_wrapper {
    flex-direction: column-reverse;
  }

  .message_container {
    width: auto;
    margin-right: 0;
    margin-top: 20px;
  }

  .info_list {
    width: 100vw;
    padding: 0 25px;
    max-width: 500px;
  }

  .image_box {
    width: auto;
  }
}
