.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  max-width: 1500px;
  margin: 120px auto auto auto;
}

.title {
  text-align: center;
}

.description {
  margin-top: 20px;
  width: 470px;
  text-align: center;
}

.image {
  width: calc(100vw + 80px);
  max-width: 1600px;
  padding-left: 120px;
}

.image_description {
  display: flex;
  width: 100%;
}

.icon_text_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.social_commerce {
  margin-left: calc(10vw - 40px);
}

.mobile_responsive {
  margin-left: calc(32vw - 215px);
}

.desktop_ecommerce {
  margin-left: calc(34vw - 200px);
}

/*phone*/
@media (max-width: 600px) {
  .container {
    padding: 0 24px;
    display: none;
    margin-top: 0;
  }

  .social_commerce {
    display: none;
  }

  .mobile_responsive {
    display: none;
  }

  .desktop_ecommerce {
    display: none;
  }
}
