.container {
  width: 375px;
  height: 290px;
  background-image: linear-gradient(157deg, #2c46b5 18%, #001e9f 99%);
  border-radius: 20px;
  padding: 0 32px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 375px;
}

/*phone*/
@media (max-width: 600px) {
  .container {
    height: 205px;
    width: 335px;
    min-width: 0;
  }
}

@media (max-width: 350px) {
  .container {
    width: 300px;
    padding: 0 10px;
  }
}
