.container {
  width: 470px;
  height: 290px;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 32px 28px 0 40px;
  margin: 0 15px;
  text-align: left;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.logo_text_wrapper {
  display: flex;
  align-items: center;
}

.name_company_wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 180px;
  margin-left: 20px;
}

.bottom_section {
  display: flex;
  border-top: 1px solid #b8bfde;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
