.container {
  overflow: hidden;
  text-align: center;
}

.slider_track {
  display: inline-flex;
  animation: scroll 50s infinite linear;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(calc(-500px * 6));
  }
}

.button {
  width: 240px;
  height: 50px;
  border: solid 1px white;
}

.outlined {
  margin-right: 40px;
  background-color: transparent;
  color: white;
}

.contained {
  background-color: white;
  color: #000b3c;
}
