.container {
  position: absolute;
  left: -25px;
}

.sales_channel_1 {
  position: absolute;
  width: 234px;
  top: 179px;
  left: 213px;
}

.sales_channel_2 {
  position: absolute;
  width: 383px;
}

.sales_channel_3 {
  position: absolute;
  width: 316px;
  top: 101px;
  left: 142px;
}

.sales_channel_4 {
  position: absolute;
  width: 538px;
  top: 81px;
  left: 41px;
}

/* ipad portrait and phone*/
@media (max-width: 1040px) {
  .container {
    left: -65px;
  }
}

@media (max-width: 960px) {
  .container {
    top: 20px;
  }
}

@media (max-width: 800px) {
  .container {
    top: 0px;
    left: -15px;
  }
}

@media (max-width: 600px) {
  .container {
    top: -25px;
  }
}
