.container {
  position: absolute;
  left: 20px;
}

.animation5_2 {
  position: absolute;
  width: 53px;
  top: 19px;
  left: 127px;
}

.animation5_3 {
  position: absolute;
  width: 53px;
  top: -24px;
  left: 195px;
}

.animation5_4 {
  position: absolute;
  width: 53px;
  top: -24px;
  left: 276px;
}

.animation5_5 {
  position: absolute;
  width: 53px;
  top: 19px;
  left: 344px;
}

.animation5_6 {
  position: absolute;
  width: 324px;
  top: 224px;
  left: 252px;
}
