.container {
  padding: 0 100px;
}

.top_section {
  border-top: 1px solid #979aa5;
  border-bottom: 1px solid #979aa5;
  padding: 34px 42px 32px 0;
  display: flex;
  justify-content: space-between;
}

.bottom_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download_wrapper_row {
  display: flex;
  gap: 16px;
}

.logo_download {
  margin-right: 20px;
}

.icon_wrapper_row {
  display: flex;
  gap: 24px;
}
