.container {
  font-family: 'Assistant';
}

.top_section {
  border-top: 1px solid #979aa5;
  border-bottom: 1px solid #979aa5;
  padding: 34px 42px 32px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download_button_wrapper {
  display: flex;
  gap: 16px;
}

.logo_download {
  margin-right: 20px;
}

.icon_wrapper_row {
  display: flex;
  gap: 22px;
  align-items: center;
}

.footer_info_wrapper {
  width: 120px;
}

.black_variant {
  color: #000000;
}

.white_variant {
  color: #ffffff;
}

@media (max-width: 1200px) {
  .container {
    margin: 0;
    max-width: none;
  }

  .top_section {
    padding-right: 15px;
  }

  .footer_info_wrapper {
    width: auto;
  }
}

/* ipad portrait */
@media (max-width: 825px) {
  .logo_download {
    margin-right: 0px;
  }

  .download_button_wrapper {
    flex-direction: column;
    gap: 6px;
  }
}

/* phone portrait */
@media (max-width: 450px) {
  .top_section {
    padding: 28px 0;
    row-gap: 30px;
    justify-content: space-between;
  }

  .footer_info_wrapper {
    width: 120px;
  }

  .logo_download {
    width: 100%;
  }
}
