.logo {
  width: 92px;
  display: flex;
  align-content: center;
}

.header {
  width: 100%;
  padding: 28px 51px 0px 51px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.getStartedButton {
  width: 190px;
  height: 40px;
  border-radius: 5px;
  border: solid 2px #ffffff;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  font-family: 'Lexend Deca';
  cursor: pointer;
  z-index: 1;
  padding: 0 0 3px 0;
}

/* phone portrait */
@media (max-width: 650px) {
  .header {
    padding: 22px 34px 0px 34px;
  }

  .logo {
    width: 70px;
  }

  .getStartedButton {
    width: 105px;
    height: 32px;
    font-size: 0.875rem;
    border-width: 1px;
    padding-bottom: 2px;
  }
}
