.main_container {
  font-family: 'Assistant';
  overflow: hidden;
}

.main_footer_wrapper {
  padding: 0 100px;
}

.main_area {
  display: flex;
}

.content_wrapper {
  padding-left: 80px;
  border-left: solid 1px #979aa5;
  width: 800px;
}

/* ipad and ipad pro portrait */
@media (max-width: 1040px) {
  .content_wrapper {
    padding-left: 40px;
    width: 100%;
  }

  .main_footer_wrapper {
    padding: 0 40px;
  }
}

@media (max-width: 600px) {
  .content_wrapper {
    border: none;
    padding: 0;
  }
}

/* phone portrait */
@media (max-width: 450px) {
  .main_footer_wrapper {
    padding: 0 25px;
  }
}

/* small phone portrait */
@media (max-width: 350px) {
  .main_footer_wrapper {
    padding: 0 15px;
  }
}
