.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 375px;
  height: 100%;
  padding: 12px 0 12px 15px;
  border: 2px solid #ffffff;
  border-radius: 6px;
  margin-right: 15px;
  font-size: 1rem;
  font-family: 'Lexend Deca';
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  box-shadow: 0 10px 40px 0 #141e4b;
  border: 2px solid #3a52b8;
  border-radius: 6px;
  background-color: #3a52b8;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Lexend Deca';
  color: #ffffff;
  cursor: pointer;
  padding: 12px 0;
}

.inputError {
  color: red;
}

.inputDisabled {
  background-color: gray;
  border-color: gray;
}

.error_container {
  color: white;
  background-color: rgb(237, 36, 29);
  font-size: 0.8rem;
  border-radius: 6px;
  margin: 16px auto 0 auto;
  height: 36px;
  max-width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show_error_box {
  background-color: rgb(237, 36, 29);
}

.button:hover {
  border: solid 2px #4166ff;
  background-color: #4166ff;
}

/* phone portrait */
@media (max-width: 650px) {
  .button {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
  }

  .input {
    width: 100%;
    margin: 0;
    margin-top: 24px;
  }

  .form_container {
    flex-direction: column;
  }

  .title {
    font-size: 25px;
    width: 220px;
    line-height: 1.36;
  }

  .description {
    font-size: 14px;
    width: 316px;
    line-height: 1.86;
    margin-top: 22px;
    margin-bottom: 0px;
  }

  .alert {
    width: 350px;
    margin-top: 24px;
    margin-bottom: 96px;
    font-size: 16px;
  }

  .error_box {
    font-size: 12px;
    margin-top: 20px;
    height: 34px;
    width: 240px;
  }
}

@media (max-width: 850px) and (orientation: landscape) {
  .form_container {
    flex-direction: column;
  }

  .input {
    width: 100%;
    margin: 0 0 16px 0;
  }

  .button {
    width: 100%;
    margin: 0;
  }
}
