/* everything in this file is mainly from Home.module.css */

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form_container {
  padding-top: 84px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button {
  width: 193px;
  height: 50px;
  margin-left: 14px;
  margin-top: 38px;
  box-shadow: 0 10px 40px 0 #141e4b;
  border: solid 2px #3a52b8;
  background-color: #3a52b8;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  color: #ffffff;
  font-family: 'Lexend Deca', FontAwesome, sans-serif;
}

.input {
  width: 374px;
  height: 50px;
  padding-left: 13.3px;
  border: solid 2px #ffffff;
  border-radius: 6px;
  background-color: #ffffff;
  font-size: 16px;
  font-family: 'Lexend Deca';
  margin-top: 38px;
}

.title {
  height: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  width: 480px;
  line-height: 1.88;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 0px;
}

.alert {
  color: #ffffff;
  margin-top: 38px;
  margin-bottom: 26px;
  text-align: center;
  font-size: 18px;
  height: 24px;
}

.button:hover {
  border: solid 2px #4166ff;
  background-color: #4166ff;
}

@media (max-width: 650px) {
  .button {
    width: 308px;
    margin-left: 0px;
    margin-top: 20px;
  }

  .input {
    width: 308px;
    margin-top: 24px;
  }

  .form {
    flex-direction: column;
  }

  .title {
    font-size: 25px;
    width: 220px;
    margin-bottom: 25px;
    line-height: 1.36;
  }

  .description {
    font-size: 14px;
    width: 316px;
    line-height: 1.86;
    margin-top: 22px;
    margin-bottom: 0px;
  }

  .alert {
    width: 350px;
    margin-top: 24px;
    margin-bottom: 96px;
    font-size: 16px;
  }

  .form_container {
    padding-top: 52px;
  }
}
