.container {
  background-image: linear-gradient(to top, #001365, #000b3c, #000a33);
  position: relative;
  padding: 65px 150px 0px 100px;
}

.header {
  position: absolute;
  top: 10px;
  left: 50px;
}

.wrapper {
  height: 242px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image_wrapper {
  display: flex;
  gap: 24px;
  padding-top: 25px;
}
