.container {
  width: 350px;
  padding-left: 100px;
  padding-right: 20px;
}

.content_list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* ipad and ipad pro portrait */
@media (max-width: 1040px) {
  .container {
    width: 300px;
    padding-left: 40px;
  }
}
