.container {
  width: 270px;
  padding-right: 40px;
}

.container.sticky {
  position: sticky;
  top: 55px;
  align-self: flex-start;
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 50vh;
  scrollbar-width: none;
}

.container.sticky::-webkit-scrollbar {
  width: 0;
}

.content_list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* ipad and ipad pro portrait */
@media (max-width: 1040px) {
  .container {
    width: 260px;
  }
}
