.modalBox {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 430px;
  width: 590px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  position: absolute;
  background-color: #ffffff;
  padding: 20px;
}

/* dark background when display modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

/* prevent outline when modal appear first time*/
.modalBox:focus {
  outline: none;
}

.modalTitle {
  margin-top: 0px;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  height: 305px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 3px 20px 0 rgba(203, 210, 240, 0.4);
  background-color: #ffffff;
  cursor: pointer;
  margin: 10px;
  font-family: 'Lexend Deca';
}

@media (max-width: 650px) {
  .modalBox {
    height: 400px;
    width: 320px;
    padding: 20px 10px 10px 10px;
  }

  .modalTitle {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .buttonContainer {
    flex-direction: column;
  }

  .button {
    height: 130px;
    width: auto;
  }
}

@media (max-width: 850px) and (orientation: landscape) {
  .modalBox {
    height: 320px;
    width: 400px;
    padding: 20px 10px 10px 10px;
  }

  .modalTitle {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .buttonContainer {
    flex-direction: column;
  }

  .button {
    height: 100px;
    width: 100%;
  }
}
