.startedModalBox {
  height: 430px;
  width: 590px;
  border-radius: 25px;
}

.modalTitle {
  margin-top: 0px;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  height: 305px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 3px 20px 5px rgba(203, 210, 240, 0.5);
  background-color: #ffffff;
  margin: 10px;
  font-family: 'Lexend Deca';
  border-color: transparent;
  padding: 20px;
}

@media (max-width: 650px) {
  .startedModalBox {
    height: 400px;
    width: 290px;
    padding: 20px 10px 10px 10px;
  }

  .modalTitle {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .buttonContainer {
    flex-direction: column;
  }

  .button {
    height: 130px;
    width: auto;
  }

  .buttonTitle,
  .buttonSubtitle {
    margin: 6px 0px 6px 0px;
  }
}

@media (max-width: 850px) and (orientation: landscape) {
  .startedModalBox {
    height: 320px;
    width: 400px;
    padding: 20px 20px 10px 20px;
  }

  .modalTitle {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .buttonContainer {
    flex-direction: column;
  }

  .button {
    height: 100px;
    width: 100%;
  }

  .buttonTitle,
  .buttonSubtitle {
    margin: 8px 0px 8px 0px;
  }
}
