.input_field {
  width: 100%;
  height: 28px;
  border: none;
  border-bottom: solid 2px #98a4bf;
  padding: 4px 2px 4px 0;
  outline: none;
  word-break: keep-all;
  transition: all 0.175s;
}

.input_field:focus + .field_label,
.input_field:not(:placeholder-shown) + .field_label {
  transform: translate(0, -20px);
  font-family: 'Assistant';
  color: #5d5d5d;
}

.field_label {
  color: #b9b9b9;
  font-family: 'Lexend Deca';
  height: 24px;
  position: absolute;
  padding-bottom: 6px;
  transform-origin: top left;
  transition: all 0.175s;
  word-break: break-all;
}

.submit_button {
  background-color: #3a52b8;
  border-radius: 6px;
  color: white;
  width: 250px;
  height: 50px;
  border-color: transparent;
  cursor: pointer;
  box-shadow: 0 10px 40px 0 rgba(147, 156, 195, 0.2);
}

.submit_button_submitting {
  background-color: lightgray;
  cursor: default;
}

.form_container {
  margin-top: 30px;
  width: 330px;
  gap: 36px;
}

.error_input_field {
  border-color: #f65129;
}

.button_error_wrapper {
  text-align: center;
  align-items: center;
  gap: 10px;
}
