.input_field {
  width: 100%;
  height: 45px;
  border-radius: 6px;
  padding-left: 15px;
  border: solid 1px #939cc3;
}

.input_field::placeholder {
  color: #dbdbdb;
}

.submit_button {
  background-color: #3a52b8;
  border-radius: 6px;
  color: white;
  width: 250px;
  height: 50px;
  border-color: transparent;
  cursor: pointer;
  box-shadow: 0 10px 40px 0 rgba(147, 156, 195, 0.2);
}

.submit_button_submitting {
  background-color: lightgray;
  cursor: default;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  width: 375px;
}

.fail_message {
  color: #f65129;
  text-align: center;
  height: 20px;
  width: 100%;
  margin-top: 10px;
  font-size: 18px;
}

.error_input_field {
  border-color: #f65129;
}

@media (max-width: 600px) {
  .form_container {
    margin-top: 0px;
  }
}

@media (max-width: 400px) {
  .form_container {
    width: 100%;
  }
}
