.wrapper {
  background-image: linear-gradient(
    to top,
    #fff -6%,
    #f4f6ff 27%,
    #bec9ff 88%,
    #8399ff 101%
  );
  font-family: 'Assistant';
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.main_container {
  width: 815px;
  border-radius: 25px;
  position: relative;
  background-color: white;
  box-shadow: 0 3px 30px 0 rgba(184, 191, 222, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.bird_left {
  position: absolute;
  top: 55px;
  left: 122px;
  width: 105px;
}

.bird_right {
  position: absolute;
  top: 194px;
  left: 530px;
  width: 204px;
}

.paragraph {
  margin-top: 40px;
  margin-bottom: 0px;
  line-height: 24px;
  width: 100%;
  text-align: center;
}

.message_list {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 80px;
  align-self: flex-start;
}

.list_child {
  margin-top: 25px;
  display: flex;
}

.icon_container {
  width: 12px;
  min-width: 12px;
  padding-top: 3px;
  margin-right: 18px;
}

.english_message {
  font-size: 18px;
}

.thai_message {
  font-family: 'Prompt';
  margin-top: 6px;
  color: #535353;
}

.remarks {
  margin-top: 80px;
  font-size: 12px;
  line-height: 20px;
  color: #535353;
  padding-top: 20px;
  border-top: solid 1px #bbc1db;
  width: 700px;
  padding-left: 6px;
  padding-bottom: 45px;
}

.shapes_container {
  position: absolute;
  width: 110vw;
  margin-left: -5vw;
}

.link {
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .shapes_container {
    display: none;
  }
}

/* phone landscape, normal ipad portrait */
@media (max-width: 815px) {
  .wrapper {
    padding-bottom: 0px;
  }

  .main_container {
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    margin-top: 30px;
    overflow: hidden;
    padding: 0px 40px;
  }

  .message_list {
    padding: 0px;
  }

  .bird_left,
  .bird_right {
    display: none;
  }

  .remarks {
    margin-top: 100px;
    width: 100%;
  }
}

/* phone portrait */
@media (max-width: 450px) {
  .main_container {
    padding: 0px 10px;
  }

  .message_list {
    padding-left: 10px;
  }
}

/* small phone portrait */
@media (max-width: 350px) {
  .main_container {
    padding: 0px 7px;
  }

  .message_list {
    padding-left: 5px;
  }
}
