.wrapper {
  background-image: linear-gradient(
    to top,
    #fff -6%,
    #f4f6ff 27%,
    #bec9ff 88%,
    #8399ff 101%
  );
  min-height: 1320px;
  font-family: 'Assistant';
  position: relative;
  overflow: hidden;
}

.main_container {
  width: 815px;
  height: 1220px;
  border-radius: 25px;
  position: relative;
  background-color: white;
  left: 50%;
  transform: translate(-50%, 0%);
  box-shadow: 0 3px 30px 0 rgba(184, 191, 222, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bird_top_left {
  position: absolute;
  top: 194px;
  left: 520px;
  width: 204px;
}

.bird_top_right {
  position: absolute;
  top: 172px;
  left: 705px;
  width: 168px;
}

.bird_bottom {
  position: absolute;
  top: 820px;
  left: -110px;
  width: 214px;
}

.paragraph {
  margin-top: 40px;
  margin-bottom: 0px;
  line-height: 24px;
  width: 100%;
  text-align: center;
  /* padding: 0px 20px; */
}

.message_list {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 80px;
  align-self: flex-start
}

.list_child {
  margin-top: 25px;
  display: flex;
  gap: 18px;
}

.english_message {
  font-size: 18px;
}

.thai_message {
  font-family: 'Prompt';
  margin-top: 6px;
  color: #535353;
}

.remarks {
  margin-top: 50px;
  font-size: 12px;
  line-height: 20px;
  color: #535353;
  padding-top: 30px;
  border-top: solid 1px #bbc1db;
  width: 700px;
  padding-left: 6px;
}

.shapes_container {
  position: absolute;
  width: 110vw;
  margin-left: -5vw;
}

@media (max-width: 1000px) {
  .bird_bottom,
  .bird_top_left,
  .bird_top_right,
  .shapes_container {
    display: none;
  }
}

@media (max-width: 815px) {
  .main_container {
    width: 100%;
    height: 1250px;
    border-radius: 25px 25px 0px 0px;
    margin-top: 30px;
    overflow: hidden;
    padding: 0px 20px;
  }

  /* .bird_top_left {
    display: block;
    position: absolute;
    top: 161px;
    left: 230px;
    width: 123px;
  } */

  .message_list {
    padding: 0px
  }

  .paragraph {
    display: none;
  }

  .remarks {
    width: 100%;
  }
}