.background {
  background-image: linear-gradient(
    to top,
    #fff -6%,
    #f4f6ff 27%,
    #bec9ff 88%,
    #8399ff 101%
  );
}

.bird_left {
  position: absolute;
  top: 55px;
  left: 122px;
  width: 105px;
}

.bird_right {
  position: absolute;
  top: 194px;
  left: 530px;
  width: 204px;
}

.paragraph {
  margin-top: 40px;
  margin-bottom: 0px;
  line-height: 24px;
  width: 100%;
  text-align: center;
}

.message_list {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 80px;
  align-self: flex-start;
}

.list_child {
  margin-top: 25px;
  display: flex;
}

.icon_container {
  width: 12px;
  min-width: 12px;
  padding-top: 3px;
  margin-right: 18px;
}

/* phone landscape, normal ipad portrait */
@media (max-width: 815px) {
  .message_list {
    padding: 0px;
  }

  .bird_left,
  .bird_right {
    display: none;
  }
}

/* phone portrait */
@media (max-width: 450px) {
  .message_list {
    padding-left: 10px;
  }
}

/* small phone portrait */
@media (max-width: 350px) {
  .message_list {
    padding: 0 5px;
  }
}
