.background {
  background-image: linear-gradient(
    to top,
    #ffffff -6%,
    #f4f6ff 27%,
    #2c46b5 88%,
    #2c46b5 101%
  );
}

.mobile_banking_picture {
  position: absolute;
  top: 50px;
  right: 70px;
  width: 230px;
}

.mobile_banking_picture_phone {
  display: none;
}

.paragraph {
  margin-top: 60px;
  padding-left: 50px;
  line-height: 24px;
  width: 100%;
}

.message_list {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 50px;
  align-self: flex-start;
}

.list_child {
  margin-top: 25px;
  display: flex;
}

.icon_container {
  width: 12px;
  min-width: 12px;
  padding-top: 3px;
  margin-right: 18px;
}

/* phone landscape, normal ipad portrait */
@media (max-width: 815px) {
  .paragraph,
  .message_list {
    padding: 0;
  }

  .mobile_banking_picture {
    right: 55px;
  }
}

/* phone portrait */
@media (max-width: 650px) {
  .message_list {
    padding-left: 10px;
  }

  .paragraph {
    margin-left: 0;
  }

  .mobile_banking_picture {
    display: none;
  }

  .mobile_banking_picture_phone {
    display: block;
    position: absolute;
    top: 130px;
    left: 60%;
    transform: translate(-50%, 0%);
    width: 230px;
  }
}

/* small phone portrait */
@media (max-width: 350px) {
  .message_list {
    padding: 0 5px;
  }
}
