.background {
  background-image: linear-gradient(
    to top,
    #ffffff -6%,
    #f4f6ff 27%,
    #2c46b5 88%,
    #2c46b5 101%
  );
}

.description_container {
  margin-top: 28px;
  margin-bottom: 12px;
  text-align: center;
  width: 100%;
  max-width: 660px;
}

.description {
  font-weight: normal;
  margin: 0;
}
