.bg{
  background-image: linear-gradient(to left, #001365, #000b3c, #000a33);
  height: 100vh; 
  overflow: hidden;
  position: sticky;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 92px;
  height: 26px;
}

.header {
  width: 100%;
  padding-left: 51px;
  padding-top: 35px;
}

.iphonePic {
  position: absolute;
  top: 170px;
  left: -270px;
  z-index: 3;
}

.laptopPic {
  position: absolute;
  top: 75px;
  right: -415px;
  z-index: 2;
}

@media (max-width: 650px) {
  
  .header {
    padding-left: 33.5px;
    padding-top: 26px; 
  }

  .logo {
    width: 69.5px;
    height: 19.6px;
  }

  .iphonePic {
    left: -195px;
    top: 480px;
  }

  .laptopPic {
    top: 450px;
    right: -250px;
    width: 600px;
  }

}