.wrapper {
  background-image: linear-gradient(to left, #001365, #000b3c, #000a33);
  height: 100%;
}

.contentWrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.phoneScreenPic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(70%, -50%);
}

.shapeLeftPic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -60%);
}

.shapeRightPic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(160%, -120%);
}

.main_container {
  /* Make sure  this element will stack on top (order of DOM element) */
  position: relative;

  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 32px;
  padding-top: 120px;
}

.main {
  max-width: 675px;
  margin: auto;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 400;
}

.description {
  display: inline-block;
  color: #ffffff;
  line-height: 1.8;
  margin-top: 24px;
  margin-bottom: 32px;
  font-weight: 400;
  max-width: 480px;
  text-align: left;
}

.svgWrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.title_with_description_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* ipad pro portrait */
@media (max-width: 1040px) and (orientation: portrait) {
  .description {
    text-align: center;
  }

  .phoneScreenPic {
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  /* just for now */
  .shapeLeftPic,
  .shapeRightPic {
    display: none;
  }

  .title_with_description_container {
    align-items: center;
  }

  .main {
    margin: auto;
  }
}

/* normal ipad portrait */
@media (max-width: 800px) {
  .main_container {
    padding-top: 80px;
  }

  .phoneScreenPic {
    top: 40%;
    left: 50%;
    width: 270px;
    transform: translate(-50%, 0%);
  }
}

/* phone portrait */
@media (max-width: 650px) {
  .main_container {
    padding-top: 100px;
  }

  .title {
    font-size: 1.6rem;
  }

  .description {
    font-size: 0.9rem;
    margin-bottom: 0;
  }

  .phoneScreenPic,
  .shapeLeftPic,
  .shapeRightPic {
    display: none;
  }
}

/* phone landscape */
@media (max-width: 850px) and (orientation: landscape) {
  .main_container {
    padding-top: 40px;
  }

  .title_with_description_container {
    margin-right: 16px;
  }

  .main {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .phoneScreenPic,
  .shapeLeftPic,
  .shapeRightPic {
    display: none;
  }
}
