.container {
  height: 216px;
  border-radius: 30px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(119deg, #2c46b5 45%, #001e9f 87%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 55px;
  padding-right: 125px;
}

.info {
  width: 570px;
}

.button {
  min-width: 240px;
  width: 240px;
  height: 50px;
  text-align: center;
  box-shadow: 0 10px 40px 0 rgba(183, 197, 255, 0.4);
  border: solid 2px #3a52b8;
  background-color: #ffffff;
  color: #3a52b8;
}

@media (max-width: 1240px) {
  .container {
    padding-right: 80px;
  }
}

@media (max-width: 1160px) {
  .container {
    flex-direction: column;
    padding: 35px 45px;
    height: unset;
  }

  .info {
    text-align: center;
    width: unset;
  }

  .button {
    margin-top: 25px;
  }
}

@media (max-width: 350px) {
  .container {
    padding: 25px;
  }

  .button {
    min-width: unset;
    width: 100%;
  }
}
